.card-display {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 5vw;
    row-gap: 1vh;
    background-color: grey;
    padding: 2%;
}
@media screen and (max-width: 750px) {
  .card-display {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}