.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.app {
  font-family: "opendyslexic" !important;
}

.loading {
  font-size: 1.8em;
}

@media screen and (max-width: 750px) {
  .app {
    background-color: #282c34;
  }
}